.jumbotron {
    /*background-image: url('../imgs/background.jpg');*/
    background-size: cover;
    height: 100%;
    margin-bottom: 0;
    padding: 0px 70px 0 70px;
    position: relative;

}

#index-title {
    color: #fff;
    font-size: 80px;
}

body {
    margin-top: 70px;
    text-align: center;
}

.industries-container > input,
.categories-container > input {
    width: 250px;
    border: 2px solid #98DD98;
}

.nav-pills {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.nav-pills>li+li {
    margin: 0px;
}

.nav-pills>li>a {
    border-radius: 0px;
    border: 1px solid #ccc;
    background-color: #F8F9FA;
    width: 250px;
    padding: 5px;
    text-align: center;
    color: #98DD98;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #98DD98;
    font-color: black;
}

.slider.slider-horizontal {
    width: 100%;
}

.slider-tick.round {
    visibility: hidden;
}

.dashboard-container {
    margin: 100px;
}

.dashboard-header {
    text-align: center;
    margin-top: 0px;
}

.dashboard-hr {
    width: 500px;
    border-top: 3px solid #5B9BD1;
}

.dashboard-block {
    text-align: center;
    border: 2px solid #ccc;
    height: 200px;
    background-color: #f7f7f8;
    border-bottom: 3px solid #5B9BD1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.block-header {
    padding: 5px;
}

.block-body {
    vertical-align: middle;
    margin-top: 29px;
    font-size: 50px;
}

.block-footer {
    margin-top: 30px;
    bottom: 5px;
    font-size: 20px;
}

.color1 {
    border-bottom: 6px solid #7A6FCA;
}

.color2 {
    border-bottom: 6px solid #7CE2AD;
}

.color3 {
    border-bottom: 6px solid #EE91BF;
}

.color4 {
    border-bottom: 6px solid #E3EE82;
}

.navbar-brand {
    font-size: 23px;
    font-family: 'Fjalla One', Arial, serif;
}