{% extends 'layout.html' %}

{% block body %}
  {{ super() }}
<!--nav pills-->
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a href="#by-industry" aria-controls="by-industry" role="tab" data-toggle="tab">Choose Industry</a>
    </li>
    <li role="presentation">
      <a href="#by-category" aria-controls="by-category" role="tab" data-toggle="tab">Choose category</a>
    </li>
  </ul>
  <!--nav pill panes-->
    <div class="container">
        <input id="date-slider" type="text" data-slider-orientation="horizontal"
               data-number-of-dates="{{ number_of_dates }}"/>
      </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="by-industry">
      <div class="container industries-container">
        <button id="find-industry">Go</button>
        <input list="industries" name="industry" id="industry">
        <datalist id="industries">
          {% for item in industries %}
            <option value="{{ item }}">
          {% endfor %}
        </datalist>
      </div><br><br>
      <section id="industry-chart"></section>
    </div>
    <!-- separates tabs -->
    <div role="tabpanel" class="tab-pane" id="by-category">
      <div class="container categories-container">
      <button id="find-category">Go</button>
        <input list="categories" name="category" id="category">
        <datalist id="categories">
          {% for item in categories %}
            <option value="{{ item }}">
          {% endfor %}
        </datalist>
      </div><br><br>
      <section id="category-chart"></section>
    </div>
  </div>
{% endblock %}
